*.pyc
build
*~
.DS_Store
.ipynb_checkpoints/
.cache
.coverage
.coverage.xml
shakemap.egg-info/
**/shake_data.hdf
**/.gmtcommands4
**/gmt.history
**/.ropeproject
htmlcov
tests/data/eventdata/*/current/products
tests/data/eventdata/*/current/.saved
tests/data/eventdata/*/current/pdl
tests/data/eventdata/*/backup*
tests/data/install/logs
tests/data/install/data/amps.db
tests/data/install/data/amps.db-shm
tests/data/install/data/amps.db-wal
tests/data/install/data/dependencies.db
tests/data/install/data/dependencies.db-shm
tests/data/install/data/dependencies.db-wal
tests/data/install/data/event_queue.db
tests/data/install/data/event_queue.db-shm
tests/data/install/data/event_queue.db-wal
*.pytest*
shakemap/c/pcontour.c
shakemap/c/clib.c
shakemap/c/*.so
strec_results.json
