*.pyc
build
*~
.DS_Store
.ipynb_checkpoints/
.cache
.coverage
.coverage.xml
shakemap.egg-info/
**/shake_data.hdf
**/.gmtcommands4
htmlcov
tests/data/eventdata/*/current/products
tests/data/install/logs
*.pytest*
