interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&includedeleted=false&includesuperseded=false&eventid=nc72282711
  response:
    body: {string: '{"type":"Feature","properties":{"mag":6.02,"place":"South Napa","time":1408875644070,"updated":1524249306552,"tz":-420,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/nc72282711","felt":41365,"cdi":7.5,"mmi":8.3,"alert":"red","status":"reviewed","tsunami":1,"sig":2750,"net":"nc","code":"72282711","ids":",at00nat3ek,nc72282711,usb000s5tp,atlas20140824102044,","sources":",at,nc,us,atlas,","types":",cap,dyfi,finite-fault,focal-mechanism,general-link,geoserve,image,impact-link,impact-text,losspager,moment-tensor,nearby-cities,origin,phase-data,poster,scitech-link,shakemap,tectonic-summary,","nst":369,"dmin":0.03604,"rms":0.18,"gap":28,"magType":"mw","type":"earthquake","title":"M
        6.0 - South Napa","products":{"cap":[{"indexid":"23094001","indexTime":1416691598606,"id":"urn:usgs-product:nc:cap:nc72282711:1408917290587","type":"cap","code":"nc72282711","source":"nc","updateTime":1408917290587,"status":"UPDATE","properties":{"eventsource":"nc","eventsourcecode":"72282711"},"preferredWeight":6,"contents":{"capalert.xml":{"contentType":"application/octet-stream","lastModified":1408917302000,"length":7189,"url":"https://earthquake.usgs.gov/archive/product/cap/nc72282711/nc/1408917290587/capalert.xml"},"contents.xml":{"contentType":"application/octet-stream","lastModified":1361466352000,"length":194,"url":"https://earthquake.usgs.gov/archive/product/cap/nc72282711/nc/1408917290587/contents.xml"}}},{"indexid":"23069421","indexTime":1416691471776,"id":"urn:usgs-product:at:cap:at00nat3ek:1408875813343","type":"cap","code":"at00nat3ek","source":"at","updateTime":1408875813343,"status":"UPDATE","properties":{"eventsource":"at","eventsourcecode":"00nat3ek"},"preferredWeight":6,"contents":{"capalert.xml":{"contentType":"application/octet-stream","lastModified":1408875902000,"length":4752,"url":"https://earthquake.usgs.gov/archive/product/cap/at00nat3ek/at/1408875813343/capalert.xml"},"contents.xml":{"contentType":"application/octet-stream","lastModified":1361466352000,"length":194,"url":"https://earthquake.usgs.gov/archive/product/cap/at00nat3ek/at/1408875813343/contents.xml"}}}],"dyfi":[{"indexid":"153959881","indexTime":1524249328306,"id":"urn:usgs-product:us:dyfi:nc72282711:1524249306552","type":"dyfi","code":"nc72282711","source":"us","updateTime":1524249306552,"status":"UPDATE","properties":{"depth":"11.12","eventsource":"nc","eventsourcecode":"72282711","eventtime":"2014-08-24T10:20:44.000Z","latitude":"38.2151667","longitude":"-122.3123333","magnitude":"6.0","maxmmi":"7.5","num-responses":"41365","numResp":"41365","pdl-client-version":"Version
        1.13.3 2018-02-06"},"preferredWeight":51,"contents":{"cdi_geo.txt":{"contentType":"text/plain","lastModified":1524249306000,"length":280178,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/cdi_geo.txt"},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1524249306000,"length":1008600,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/cdi_geo.xml"},"cdi_geo_10km.txt":{"contentType":"text/plain","lastModified":1524249306000,"length":31205,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/cdi_geo_10km.txt"},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1524249306000,"length":34811,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/cdi_zip.txt"},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1524249306000,"length":142792,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/cdi_zip.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1524249306000,"length":4700,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/contents.xml"},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1524249306000,"length":1173,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi.kmz"},"dyfi_geo.geojson":{"contentType":"application/octet-stream","lastModified":1524249306000,"length":966717,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_geo.geojson"},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1524249306000,"length":174016,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_geo.kmz"},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1524249306000,"length":94664,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_geo_10km.geojson"},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1524249306000,"length":966717,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_geo_1km.geojson"},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1524249306000,"length":75490,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_plot_atten.json"},"dyfi_plot_numresp.geojson":{"contentType":"application/octet-stream","lastModified":1524249306000,"length":2683920,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_plot_numresp.geojson"},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1524249306000,"length":2609319,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_plot_numresp.json"},"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1524249306000,"length":2177667,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_zip.geojson"},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1524249306000,"length":229179,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_zip.kmz"},"event_data.xml":{"contentType":"application/xml","lastModified":1524249306000,"length":3478,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/event_data.xml"},"nc72282711_ciim.jpg":{"contentType":"image/jpeg","lastModified":1524249306000,"length":119822,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim.jpg"},"nc72282711_ciim.pdf":{"contentType":"application/pdf","lastModified":1524249306000,"length":425095,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim.pdf"},"nc72282711_ciim.ps":{"contentType":"application/postscript","lastModified":1524249306000,"length":771737,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim.ps"},"nc72282711_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1524249306000,"length":118578,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_geo.jpg"},"nc72282711_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1524249306000,"length":85003,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_geo.pdf"},"nc72282711_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1524249306000,"length":335813,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_geo.ps"},"nc72282711_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1524249306000,"length":797756,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_geo_imap.html"},"nc72282711_ciim_imap.html":{"contentType":"text/html","lastModified":1524249306000,"length":265759,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_imap.html"},"nc72282711_ciim_zoom.jpg":{"contentType":"image/jpeg","lastModified":1524249306000,"length":134152,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_zoom.jpg"},"nc72282711_ciim_zoom.pdf":{"contentType":"application/pdf","lastModified":1524249306000,"length":226972,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_zoom.pdf"},"nc72282711_ciim_zoom.ps":{"contentType":"application/postscript","lastModified":1524249306000,"length":477905,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_zoom.ps"},"nc72282711_ciim_zoom_imap.html":{"contentType":"text/html","lastModified":1524249306000,"length":221027,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_ciim_zoom_imap.html"},"nc72282711_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1524249306000,"length":72907,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_plot_atten.jpg"},"nc72282711_plot_atten.ps":{"contentType":"application/postscript","lastModified":1524249306000,"length":104345,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_plot_atten.ps"},"nc72282711_plot_atten.txt":{"contentType":"text/plain","lastModified":1524249306000,"length":37791,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_plot_atten.txt"},"nc72282711_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1524249306000,"length":33536,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_plot_numresp.jpg"},"nc72282711_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1524249306000,"length":30540,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_plot_numresp.ps"},"nc72282711_plot_numresp.txt":{"contentType":"text/plain","lastModified":1524249306000,"length":1694650,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/nc72282711_plot_numresp.txt"}}}],"finite-fault":[{"indexid":"23494171","indexTime":1416693300502,"id":"urn:usgs-product:us:finite-fault:nc72282711:1409669093313","type":"finite-fault","code":"nc72282711","source":"us","updateTime":1409669093313,"status":"UPDATE","properties":{"eventsource":"nc","eventsourcecode":"72282711"},"preferredWeight":1,"contents":{"72282711.html":{"contentType":"text/html","lastModified":1409669090000,"length":9097,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/nc72282711/us/1409669093313/72282711.html"},"72282711_gps_slip.png":{"contentType":"application/octet-stream","lastModified":1409668185000,"length":421779,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/nc72282711/us/1409669093313/72282711_gps_slip.png"},"basemap.png":{"contentType":"application/octet-stream","lastModified":1409668208000,"length":421779,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/nc72282711/us/1409669093313/basemap.png"},"contents.xml":{"contentType":"application/octet-stream","lastModified":1409668147000,"length":705,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/nc72282711/us/1409669093313/contents.xml"},"web2/72282711_gps.kmz":{"contentType":"application/octet-stream","lastModified":1409668147000,"lengt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/archive/product/dyfi/nc72282711/us/1524249306552/dyfi_geo_10km.geojson
  response:
    body: {string: '{"features":[{"geometry":{"coordinates":[[[-123.81282,39.38664],[-123.69671,39.3874],[-123.69761,39.4775],[-123.81387,39.47674]]],"type":"Polygon"},"type":"Feature","properties":{"nresp":1,"name":"UTM:(10S
        043 436 10000)<br>UTM:(10S 043 436 10000)","cdi":3.6,"dist":184}},{"geometry":{"coordinates":[[[-123.81811,39.83712],[-123.70124,39.83788],[-123.70216,39.92798],[-123.81918,39.92721]]],"type":"Polygon"},"type":"Feature","properties":{"nresp":1,"name":"UTM:(10S
        043 441 10000)<br>UTM:(10S 043 441 10000)","cdi":1,"dist":223}},{"geometry":{"coordinates":[[[-123.69141,38.84677],[-123.57618,38.84739],[-123.57691,38.9375],[-123.69228,38.93688]]],"type":"Polygon"},"type":"Feature","properties":{"nresp":1,"name":"UTM:(10S
        044 430 10000)<br>UTM:(10[...]
[...]
