interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci14745580&format=geojson
  response:
    body:
      string: '{"type":"Feature","properties":{"mag":5.71,"place":"8km ESE of Ocotillo,
        CA","time":1276576018240,"updated":1659755853097,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/ci14745580","felt":35509,"cdi":7.7,"mmi":7.538,"alert":"green","status":"reviewed","tsunami":0,"sig":1272,"net":"ci","code":"14745580","ids":",atlas20100615042658,ci10159042,ci14745580,choy20100615042658,gcmtc201006150426a,usp000he04,gcmt20100615042658,iscgem14771060,","sources":",atlas,ci,ci,choy,gcmt,us,gcmt,iscgem,","types":",associate,dyfi,focal-mechanism,general-text,impact-text,losspager,moment-tensor,nearby-cities,origin,phase-data,poster,shakemap,trump-shakemap,","nst":45,"dmin":0.05832,"rms":0.2,"gap":71,"magType":"mw","type":"earthquake","title":"M
        5.7 - 8km ESE of Ocotillo, CA","products":{"associate":[{"indexid":"18318064","indexTime":1611370859131,"id":"urn:usgs-product:admin:associate:ci10159042_ci14745580:1492719507570","type":"associate","code":"ci10159042_ci14745580","source":"admin","updateTime":1492719507570,"status":"UPDATE","properties":{"eventsource":"ci","eventsourcecode":"10159042","original-signature":"FRYtnYjZuB0jCc5FxGciXhX6NkYeA6yg7Pfp1QtbvWC4So/HYVvZWPHJFcGDo2xQnpjbXzp9/WMT7YqKi+Uh2o8CkpcUs4yvpVwEEN/KTeP0eA3CqFTmDX6aeY0nk8kBGueoQM9w6SXfKcmqCJALfAzpauND7FXkwdKYMHaSF2sF0jwC3ttiCx4yQUJYvcYNgZQJhIbAhSwM9WoP6ZEANHBDfNl6ommQHoVqM2gur22yxtq13EubeKoCaH25WGYhM6mwAcP90JmzXzkRoVwDwuNmgbqWGfz7BqlsyIZhnR8J32sUx65wHvTRFGJWkzjiUqxSjYzotwWZ854votjcJGCNY+29I2VovXesCszP79sqDmNpPQi3bnRAiNFfV/CWWTQgKE64M8OxuMe0ENRtaxIX122mTGjaNIRDONxrdiRy3P/7/TaNRHj914c/DwFn5yn2Ql6BXLQv4EzAQeFwb47qf3gYds1YNOEVq4VtHSYueb1vbTe/EkOzuVatHsZVPgU9iuQirWb9l+6kY0ls9kO/b0qWbGj546zo/hMZ911S9kwH3+A4sHwLjP3tUJb2rSxHTF0wvciKecWhtdvEvy5TLPAzaeiEXuodWh2QOLA7FCIxgG8A4b6bdv6nEl/8L0Uf6+YPgCSv+wBXlAw86jac+HB4JT5KiscfNzvMJw8=","original-signature-version":"v1","othereventsource":"ci","othereventsourcecode":"14745580","pdl-client-version":"Version
        1.10.1 2016-04-07","senderemail":""},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1492719507000,"length":35,"bytes":"multiple
        event ids from same source","sha256":"qBLXvWYevQ5GPKfk8DrfODcNobwdxjN+869gaemGKCg="}}},{"indexid":"18312884","indexTime":1611370330309,"id":"urn:usgs-product:admin:associate:atlas20100615042658_ci14745580:1492719507498","type":"associate","code":"atlas20100615042658_ci14745580","source":"admin","updateTime":1492719507498,"status":"UPDATE","properties":{"eventsource":"atlas","eventsourcecode":"20100615042658","original-signature":"v1GvOUiCT7iE5qL6hNbPDvvBsPT8iP1OCdCFt1HmCCgC9YkHEjPalIol87+XExKm5qqNyPElCVbkLtlc0q+v8GhcSxPrKRPiCyKzRj1uhRe73J88yJtH5p0y40gPS0BA7vo/7T5vpUF2QwFX9d2tFZTRzOofVfjIeTpnAWHG1dD1rq73S5WO8jfjBlxaco0aEd0ptUZZUvBnOGFZC3Kx0U7S346nAiWahJORGgjf0QOw9QMh2Fs5TzmO55Rr7E7Vr/ape95nQ0MSYe43V8JuRtj7k1ycoHP9JEq+jM6+NN8WY+uRiB4vF8VDzPuGTak6J7DHQWWvdd+f7Co8PbhI8ij1XFU2nCGZxYOqEXyOpaaf9FJwsEApOxssYPbF4U/3UbLTuu5W6ML+WoEHJ37y8eUMJ4LpoX9duGZ7XRrk5uWpP7OAKMiuJiFHykrOgNiHgraVRPkE6zJeGRkENPIhu7YzMSbou1jvk5CNuh7sTdDhVJF1n1516za5Nm/Ka19VLuSQ2cEFB/U2+oiDePJTHDv2km0xgOFjI6hUc65GA0af3UMmdhwTg4Z6UWPrdmspXjKEGHbQA8aEmd8Y9+Xyjkx9LZOAMBLGWA0LlMj1skIhReQt4+hUuj4Ttq6OvJTxr0ILKOapcK4gkGCUH38fuH4P0u51sjeK+Fz3BwXluB4=","original-signature-version":"v1","othereventsource":"ci","othereventsourcecode":"14745580","pdl-client-version":"Version
        1.10.1 2016-04-07","senderemail":""},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1492719507000,"length":35,"bytes":"multiple
        event ids from same source","sha256":"qBLXvWYevQ5GPKfk8DrfODcNobwdxjN+869gaemGKCg="}}}],"dyfi":[{"indexid":"21432591","indexTime":1659755863799,"id":"urn:usgs-product:us:dyfi:ci14745580:1659755853097","type":"dyfi","code":"ci14745580","source":"us","updateTime":1659755853097,"status":"UPDATE","properties":{"depth":"8.8","eventsource":"ci","eventsourcecode":"14745580","eventtime":"2010-06-15T04:26:58.000Z","latitude":"32.705","longitude":"-115.9113","magnitude":"5.7","maxmmi":"7.7","num-responses":"35509","numResp":"35509","original-signature":"MC0CFQCiD/JUpGpm4Mo8Lt7qf5bzE964FAIUJn//2iPs2gYCm4H154qw6TZJIS0=","original-signature-version":"v1","pdl-client-version":"Version
        2.7.10 2021-06-21"},"preferredWeight":53,"contents":{"ci14745580_ciim.pdf":{"contentType":"application/pdf","lastModified":1659755846000,"length":194896,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim.pdf","sha256":"yzSVTo50aWj4aIHvCsx6A3x0QpUdQzAyR+xiQmc6PLo="},"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1659755846000,"length":120046,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_zip.geojson","sha256":"qI6P5pXPftMgTnzHUrRuKL4O6747ilu3sNdjpncLdes="},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1659755846000,"length":101732,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_geo_10km.geojson","sha256":"8C8ZzhbpBYNf2/7xsE/YrCwOd1OqH1ICXhtAOquhJlA="},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1659755846000,"length":631071,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_geo_1km.geojson","sha256":"DKUG/hEyeVRUqjBcD0Ks7wR+AVgEieHV4Chny+iGweU="},"ci14745580_plot_numresp.txt":{"contentType":"text/plain","lastModified":1659755846000,"length":1652603,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_plot_numresp.txt","sha256":"WH+/mE6prHIuIHD+WLY7h8zmy5KFqQ+a1LWkD/KP1NA="},"cdi_geo.txt":{"contentType":"text/plain","lastModified":1659755846000,"length":30570,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/cdi_geo.txt","sha256":"BgVw9I2ksauGquYo5jw/QQbX4gWVWojqt1D02D/UEF0="},"contents.xml":{"contentType":"application/xml","lastModified":1659755846000,"length":4224,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/contents.xml","sha256":"o6MyK2cNeWIYWEKfyrWlTfD1JKTdSSHTsxfkfWq4YKA="},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1659755846000,"length":212721,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/cdi_geo_1km.txt","sha256":"PmMno6xLuMxvQvWOlO+Vij7xExYkeS95LYKSafA6iAg="},"ci14745580_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1659755846000,"length":116796,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim_geo.jpg","sha256":"/vPST8ZMeL36jHLYSG84dECTSNlZRkLPgtfJBK6ml+o="},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1659755846000,"length":11735,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_plot_atten.json","sha256":"kJPAt3xAphjN3LfYEW7FtTbZFsaktg4jVfVljpbhKOs="},"ci14745580_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1659755846000,"length":33403,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_plot_numresp.jpg","sha256":"dKuBW+BJ652gDGQGIkrmvuk1HhZQFDXKBn1Lr4dcU4A="},"ci14745580_plot_atten.txt":{"contentType":"text/plain","lastModified":1659755846000,"length":7399,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_plot_atten.txt","sha256":"7DdAaHz8rJ2X/mh9/xpgaGKsmko5dOgQpxWWnyBh+5k="},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1659755846000,"length":100368,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/cdi_geo.xml","sha256":"egz+MX6d4hfNwi54plsaz3Rajcj1beHLDFalh+LgGqg="},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1659755846000,"length":166544,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/cdi_zip.xml","sha256":"OfoSQkj5WStjY5e56frwGfppdJmeWfKecPES+Rvk/PY="},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1659755846000,"length":20878,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_geo.kmz","sha256":"0WW3gvM7ysBdWHMHYsP8feXmhy5i92jCm+7xvl4gwy8="},"ci14745580_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1659755846000,"length":65392,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_plot_atten.jpg","sha256":"NotaB+FYTg0RWfEO34QRBXlial1ETbXRZ6B7V3wJ9Ws="},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1659755846000,"length":213843,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_zip.kmz","sha256":"quxSy6yoqtKJLvTl9FVaTtgtysnJqMPhlsj0MrgLE3o="},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1659755846000,"length":46099,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/cdi_zip.txt","sha256":"fH76J2dWPIdQEkdXI+eWze4TFEgVeAhJi03LJABdxBI="},"event_data.xml":{"contentType":"application/xml","lastModified":1659755846000,"length":3037,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/event_data.xml","sha256":"dWMjnGnzykVEsVdpJh9E6pkTye3Ty6wzzVQyZ0qF4ks="},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1659755846000,"length":2543509,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_plot_numresp.json","sha256":"L3PkXnyebc3PW11nT+I/p2PH5nbLaj+gKhRrO3Squvc="},"ci14745580_plot_atten.ps":{"contentType":"application/postscript","lastModified":1659755846000,"length":59869,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_plot_atten.ps","sha256":"x78tZhn+ukZILpZgFeYtYudGa9RIvKrG5v+xJbq+Dfk="},"ci14745580_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1659755846000,"length":223163,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim_geo.ps","sha256":"qw6rv5H+LRGCkhh4yZQLM8xfrKvN4btTHdtK8/Pgv8g="},"ci14745580_ciim.jpg":{"contentType":"image/jpeg","lastModified":1659755846000,"length":134334,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim.jpg","sha256":"sK5ZnaC7DM4TlRU587oRgZZl9bsgqTA6tXzyU6OoMGw="},"ci14745580_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1659755846000,"length":30650,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_plot_numresp.ps","sha256":"PvySZWbOQe+emV6skKoBKp7VobNrjFeAZVHaAXtgIac="},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1659755846000,"length":1170,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi.kmz","sha256":"4lFuY0Ig2sKOQXmHn7idwgcIiq9i3oYv1RBn0N4QAqA="},"ci14745580_ciim_imap.html":{"contentType":"text/html","lastModified":1659755846000,"length":268404,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim_imap.html","sha256":"jTi+0P6kOoSVaehGEtQMXT+XIkr8LOuSOW4ZLghHLY4="},"ci14745580_ciim.ps":{"contentType":"application/postscript","lastModified":1659755846000,"length":445984,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim.ps","sha256":"X+Zu6+MM4CE5TgTaCiFeznFrs8HY19Wha/MfZ6j/VB0="},"ci14745580_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1659755846000,"length":74449,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim_geo.pdf","sha256":"RNZX2pwEj0UVHr5fvCoF/FWcqPyR2TZYxui68v9unfA="},"ci14745580_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1659755846000,"length":97039,"url":"https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/ci14745580_ciim_geo_imap.html","sha256":"l7Jop3Wc3JZys9WD/P3Oqzu4NChQeJRU+OLvv+YsuVI="}}}],"focal-mechanism":[{"indexid":"13808579","indexTime":1610512019718,"id":"urn:usgs-product:us:focal-mechanism:pde20100615042658480_5_B_US:1415324501091","type":"focal-mechanism","code":"pde20100615042658480_5_B_US","source":"us","updateTime":1415324501091,"status":"UPDATE","properties":{"beachball-source":"US","derived-depth":"8","evaluation-status":"reviewed","eventParametersPublicID":"quakeml:US.anss.org/eventParameters/pde20100615042658480_5/1415324501091","eventsource":"us","eventsourcecode":"p000he04","nodal-plane-1-dip":"80","nodal-plane-1-rake":"5","nodal-plane-1-strike":"35","nodal-plane-2-dip":"85","nodal-plane-2-rake":"170","nodal-plane-2-strike":"304","quakeml-publicid":"quakeml:us.anss.org/focalMechanism/pde20100615042658480_5/B/US","review-status":"reviewed","scalar-moment":"25000000000000","sourcetime-duration":"6.0","sourcetime-type":"UNKNOWN"},"preferredWeight":8,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1417563091000,"length":195,"url":"https://earthquake.usgs.gov/product/focal-mechanism/pde20100615042658480_5_B_US/us/1415324501091/contents.xml","sha256":"ABhLiaqdYWmIak24eD/csBAWouBShhatD9bUzLNEZFk="},"quakeml.xml":{"contentType":"application/xml","lastModified":1415324501000,"length":1908,"url":"https://earthquake.usgs.gov/product/focal-mechanism/pde20100615042658480_5_B_US/us/1415324501091/quakeml.xml","sha256":"ZLk2pw9IU6cekz2QvBpNEeTPEnjTi7TINTbXrjuF2ws="}}},{"indexid":"9622307","indexTime":1609384509090,"id":"urn:usgs-product:us:focal-mechanism:gcmtC201006150426A:1478744975684","type":"focal-mechanism","code":"gcmtC201006150426A","source":"us","updateTime":1478744975684,"status":"UPDATE","properties":{"evaluation-status":"reviewed","eventParametersPublicID":"quakeml:us.anss.org/eventParameters/C201006150426A","eventsource":"gcmt","eventsourcecode":"c201006150426a","n-axis-azimuth":"172","n-axis-plunge":"81","nodal-plane-1-dip":"83","nodal-plane-1-rake":"-6","nodal-plane-1-strike":"39","nodal-plane-2-dip":"84","nodal-plane-2-rake":"-173","nodal-plane-2-strike":"129","original-signature":"MCwCFAa3etOX1oUSzZBwFyPiXbL3fZxYAhRW/yjJ1QOZXitj91PmsAUXsnznmQ==","original-signature-version":"v1","p-axis-azimuth":"354","p-axis-plunge":"9","quakeml-publicid":"quakeml:us.anss.org/focalmechanism/C201006150426A/Mwc","review-status":"reviewed","t-axis-azimuth":"264","t-axis-plunge":"0"},"preferredWeight":3,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1478744975000,"length":195,"url":"https://earthquake.usgs.gov/product/focal-mechanism/gcmtC201006150426A/us/1478744975684/contents.xml","sha256":"ABhLiaqdYWmIak24eD/csBAWouBShhatD9bUzLNEZFk="},"quakeml.xml":{"contentType":"application/xml","lastModified":1478744975000,"length":2262,"url":"https://earthquake.usgs.gov/product/focal-mechanism/gcmtC201006150426A/us/1478744975684/quakeml.xml","sha256":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/product/dyfi/ci14745580/us/1659755853097/dyfi_geo_1km.geojson
  response:
    body:
      string: '{"features":[{"geometry":{"coordinates":[[[-122.54484,37.92868],[-122.53346,37.92863],[-122.53341,37.93765],[-122.54479,37.93769]]],"type":"Polygon"},"type":"Feature","properties":{"stddev":0.33,"nresp":1,"name":"UTM:(10S
        0540 4198 1000)<br>UTM:(10S 0540 4198 1000)","cdi":2,"dist":836}},{"geometry":{"coordinates":[[[-120.08478,35.32513],[-120.07379,35.32486],[-120.07347,35.33387],[-120.08445,35.33413]]],"type":"Polygon"},"type":"Feature","properties":{"stddev":0.33,"nresp":1,"name":"UTM:(10S
        0765 3913 1000)<br>UTM:(10S 0765 3913 1000)","cdi":3.1,"dist":482}},{"geometry":{"coordinates":[[[-119.85096,34.42529],[-119.84009,34.42554],[-119.84039,34.43455],[-119.85126,34.43429]]],"type":"Polygon"},"type":"Feature","properties":{"stddev":0.33,"nresp":1,"name":"UTM:(11S
[...]
