interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&includedeleted=false&includesuperseded=false&eventid=ci14607652
  response:
    body: {string: '{"type":"Feature","properties":{"mag":7.2,"place":"12km SW of
        Delta, B.C., MX","time":1270420842360,"updated":1530927250103,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/ci14607652","felt":78385,"cdi":7.6,"mmi":9.2,"alert":"red","status":"reviewed","tsunami":0,"sig":2760,"net":"ci","code":"14607652","ids":",atlas20100404224000,atatlas20100404224000,atlasatlas20100404224000,atlas20100404224000,ci14607652,atlas20100404224043,choy20100404224043,gcmtc201004042240a,usp000habu,duputel201004042240a,iscgem600257057,","sources":",at,at,atlas,atlas,ci,atlas,choy,gcmt,us,duputel,iscgem,","types":",associate,dyfi,focal-mechanism,general-text,impact-text,losspager,moment-tensor,nearby-cities,origin,phase-data,poster,shakemap,trump-shakemap,","nst":10,"dmin":0.5137,"rms":0.11,"gap":239,"magType":"mw","type":"earthquake","title":"M
        7.2 - 12km SW of Delta, B.C., MX","products":{"associate":[{"indexid":"136620802","indexTime":1487373920800,"id":"urn:usgs-product:admin:associate:atlas20100404224043_ci14607652:1487373920172","type":"associate","code":"atlas20100404224043_ci14607652","source":"admin","updateTime":1487373920172,"status":"UPDATE","properties":{"eventsource":"atlas","eventsourcecode":"20100404224043","othereventsource":"ci","othereventsourcecode":"14607652"},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1487373920000,"length":64,"bytes":"did
        not auto associate due to previously submitted atlas product"}}},{"indexid":"88014472","indexTime":1457993481935,"id":"urn:usgs-product:admin:associate:atlas20100404224000_atlas20100404224000:1457993481443","type":"associate","code":"atlas20100404224000_atlas20100404224000","source":"admin","updateTime":1457993481443,"status":"UPDATE","properties":{"eventsource":"atlas","eventsourcecode":"20100404224000","othereventsource":"atlas","othereventsourcecode":"20100404224000"},"preferredW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/archive/product/dyfi/ci14607652/us/1530927250103/dyfi_geo_10km.geojson
  response:
    body: {string: "{\"features\":[{\"geometry\":{\"coordinates\":[[[-123.81282,39.38664],[-123.69671,39.3874],[-123.69761,39.4775],[-123.81387,39.47674]]],\"type\":\"Polygon\"},\"type\":\"Feature\",\"properties\":{\"nresp\":1,\"name\":\"UTM:(10S
        043 436 10000)<br>Tacna\",\"cdi\":4.2,\"dist\":1104}},{\"geometry\":{\"coordinates\":[[[-122.88461,38.93887],[-122.76923,38.9387],[-122.76893,39.02881],[-122.88446,39.02899]]],\"type\":\"Polygon\"},\"type\":\"Feature\",\"properties\":{\"nresp\":1,\"name\":\"UTM:(10S
        051 431 10000)<br>Kelseyville\",\"cdi\":2,\"dist\":1011}},{\"geometry\":{\"coordinates\":[[[-122.77124,38.30787],[-122.65686,38.30759],[-122.65644,38.39771],[-122.77095,38.39799]]],\"type\":\"Polygon\"},\"type\":\"Feature\",\"properties\":{\"nresp\":2,\"name\":\"UTM:(10S
[...]
[...]
